.parent {
  display: flex;
  /*height: 300px; *//* Or whatever */
  border: 3px solid #000;
}

.child {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
  background-color: green;
}
