/*widjet calendar*/
.calendar-header{
	color: #00ACEC;
	background-color: #FFFE21;
}
.calendar{
 	flex-flow: row wrap;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
}
.calendar__row {
	border: 1px solid #000;

}
.calendar__row__item {
	width: 100px;
}
.calendar__row__item:hover{
	background-color: #FFFE21;
}
.none{
	background-color: #fff;
}