/*universe global classes*/
.parent {
  display: flex;
  width: 800px;
  border: 1px solid #000;
}

.child {
  width: 100px;  /* Or whatever */
  margin: auto;  /* Magic! */
/*  background-color: green;*/
}
